<!-- @include includes/top.html -->

<header id="header">
	
	<aside id="slideshow" role="complementary">
		
		<a id="parallax"></a>
		
	</aside> <!-- /#slideshow -->
	
	<section id="masthead" class="wrap">
		
		<div class="core">
			
			<h1 id="flag"><a href="<!-- @echo production -->/"><span>Your Vote</span></a></h1>
			<h2 class="lettering"><!-- @echo title --></h2>
			<h3><!-- @echo description --></h3>
			
			<div class="sharing">
				
				<a title="Tweet this" class="social social-twitter fa-stack fa-lg" href="https://twitter.com/intent/tweet?text=<!-- @echo social_title -->%20%7C%20<!-- @echo social_description -->%3A&amp;url=<!-- @echo social_url -->&amp;via=registerguard" target="_blank" rel="nofollow">
					<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i><i class="fa fa-twitter fa-stack-1x fa-inverse" aria-hidden="true"></i>
					<span class="off">Tweet this</span>
				</a>
				
				<a title="Share on Facebook" class="social social-facebook fa-stack fa-lg" href="http://www.facebook.com/sharer/sharer.php?u=<!-- @echo social_url -->" target="_blank" rel="nofollow">
					<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i><i class="fa fa-facebook fa-stack-1x fa-inverse" aria-hidden="true"></i>
					<span class="off">Share on Facebook</span>
				</a>
				
				<a title="Plus on Google+" class="social social-google-plus fa-stack fa-lg" href="https://plus.google.com/share?url=<!-- @echo social_url -->" target="_blank" rel="nofollow">
					<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i><i class="fa fa-google-plus fa-stack-1x fa-inverse" aria-hidden="true"></i>
					<span class="off">Plus on Google+</span>
				</a>
				
				<a title="Share on Tumblr" class="social social-tumblr fa-stack fa-lg" href="http://www.tumblr.com/share?v=3&amp;u=<!-- @echo social_url -->&amp;t=<!-- @echo social_title -->" target="_blank" rel="nofollow">
					<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i><i class="fa fa-tumblr fa-stack-1x fa-inverse" aria-hidden="true"></i>
					<span class="off">Share on Tumblr</span>
				</a>
				
			</div>
			
		</div> <!-- /.core -->
		
	</section> <!-- /#masthead -->
	
</header>

<!-- <div style="text-align:center; color:red;font-size: 3em;line-height:2em;">THIS IS A TESTING WEBSITE PRIOR TO THE ELECTION</div> -->

<main role="main">
	
	<div class="base">
		
		<!-- <iframe id="attn" src="attn.html" width="100%" height="0" marginheight="0" marginwidth="0" frameborder="0" scrolling="no"></iframe> -->
		
		<!-- xxx@includexxx includes/topraces-lite.html -->
		
		<div class="wrap">
			
			<div class="core">
				
				<!-- @include includes/jump.html -->
				
				<!-- xxx@includexxx includes/topraces.html -->
				
				<section id="stories">
					
					<h2 class="off">Stories</h2>
					
					<div class="pure-g pure-pad">
						
						<div id="latest" class="pure-u-1 pure-u-lg-1-3">
							
							<h3 class="mast"><a href="http://registerguard.com" target="_blank">Latest news</a></h3>
							
							<!-- elections eug-spfld results, elections lane county results, elections region results, elections oregon results, elections national results -->
							<div id="latest-news" data-items="7" data-subcats="election 2016" class="stories loading"></div>
							
							<!-- <h3 class="mast">Recent coverage</h3>
							
							<div id="recent-coverage" data-items="5" data-subcats="elections, politics" class="stories loading"></div> -->
							
						</div> <!-- .pure-u-1 -->
						
						<!-- @include includes/ap.html -->
						
						<!-- @include includes/twitter.html -->
						
						<!-- xxx@includexxx includes/endorsements.html -->
						
						<!-- xxx@includexxx includes/topballotitems.html -->
						
					</div> <!-- /.pure-g -->
					
				</section>
				
				<div class="banner">
					
					<p>Advertisement</p>
					
					<!-- //////////////////// Leaderboard 1 \\\\\\\\\\\\\\\\\\\\ -->
					<div class="advert"><div id="leaderboard-1"><script>_ox.showAdUnit('537200296');</script></div></div>
					<!-- \\\\\\\\\\\\\\\\\\\\ Leaderboard 1 //////////////////// -->
				
					<!-- //////////////////// Mobile Banner \\\\\\\\\\\\\\\\\\\\ -->
					<div class="advert"><div id="mobile-banner"><script>_ox.showAdUnit('537200316');</script></div></div>
					<!-- \\\\\\\\\\\\\\\\\\\\ Mobile Banner //////////////////// -->
					
				</div> <!-- /.banner -->
				
				<!-- @include includes/results.html -->
				
				<!-- @exclude -->
				<div class="banner">
					
					<p>Advertisement</p>
					
					<!-- //////////////////// ROS Leaderboard Bottom \\\\\\\\\\\\\\\\\\\\ -->
					<div class="advert"><div id="ros-leaderboard-bottom"><script>_ox.showAdUnit('537200307');</script></div></div>
					<!-- \\\\\\\\\\\\\\\\\\\\ ROS Leaderboard Bottom //////////////////// -->
			
					<!-- //////////////////// ROS Mobile Banner Bottom \\\\\\\\\\\\\\\\\\\\ -->
					<div class="advert"><div id="ros-mobile-banner-bottom"><script>_ox.showAdUnit('537200312');</script></div></div>
					<!-- \\\\\\\\\\\\\\\\\\\\ ROS Mobile Banner Bottom //////////////////// -->
					
				</div> <!-- /.banner -->
				<!-- @endexclude -->
				
			</div> <!-- /.core -->
		
		</div> <!-- /.wrap -->
		
	</div> <!-- /.base -->
	
</main>

<!-- @include includes/bottom.html -->
