// Helpers:
@import "variable",
        "mixin";

// Normalization:
@import "normalize";

#trl {
	
	background: $grayd;
	padding: 5px 0;
	
	.trl-item{
		
		text-align: center;
		
		a {
			
		}
	
	}
	
}





#tbi {
	font-family: $font1;
	font-size: 0;
	line-height: 0;
	color: $gray3;
	text-align: center; // Might want to move this
	padding-bottom: 5px;
	border-bottom: 2px solid $grayc;
	margin-bottom: 5px;
	//background: $graye;
	//background: linear-gradient(to bottom, $graye 0, $grayd 25%);
	overflow: hidden; // Clears float.
	//display: block;
	
	* { vertical-align: middle; }
	
	.tbi-flex{
		
		@media all and (min-width: 1005px) {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-direction: row;
			flex-direction: row;
			-webkit-align-items: flex-start;
			align-items: flex-start;
		}
			
		.tbi-item {
			-webkit-flex: 1;
			flex: 1;
		}
		
	}
	
	.tbi-col {
		
		//font-size: 24px;
		font-size: 18px;
		//line-height: 50px; // Height of image.
		line-height: 24px;
		//border-radius: 1px;
		border: 1px solid $grayb;
		background: $graye;
		//height: 50px;
		//margin: 5px;
		padding: 30px 5px 5px; // Same as heading ...
		//display: block;
		white-space: nowrap;
		position: relative;
	
		margin: 0 0 10px 0;
	
		@media all and (min-width: 1005px){
			margin: 0 5px;
			// Tidy up spacing of children:
			&:first-child { margin-left: 0px; }
			&:last-child { margin-right: 0px; }
		}

		-webkit-transition: all .5s;
		   -moz-transition: all .5s;
			-ms-transition: all .5s;
			 -o-transition: all .5s;
				transition: all .5s;
	
		a {
			&,
			&:visited {
				color: $gray6;
				text-decoration: none;
			}
			&:visited:hover,
			&:focus,
			&:focus:hover,
			&:hover,
			&:active {
				color: $gray6;
				background: $milk;
			}
		}
		
		.tbi-head {
			font-weight: bold;
			font-size: 14px;
			line-height: 25px; // ... Heading is here.
			letter-spacing: .05em;
			text-transform: uppercase;
			color: $gray3;
			background: $grayb;
			padding: 0 5px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}
		
		.tbi-row {
			
			text-align: center;
			
			@media all and (min-width: 1005px) {
				
				padding: 0 5px;
				display: block;
				float: left;
				width: 100%;
				
				> :first-child { padding-left: 0; }
				> :last-child { padding-right: 0; }
				
			}
			
			.tbi-unit{
				display: inline-block;
				@media all and (min-width: 1005px) { // Just eyeballed this number.	
					white-space: normal;
					float: left;
				}
			}
			
		}
	
	}
	
}
