//Coming soon...
#tbi{
	
	#tbi-list{// JS target parent of items
		
		.tbi-results{ // Individual items
			
			//text-align: center;
			
			.tbi-results-row{
				
				//border: 1px solid red;
				vertical-align: middle;
				margin: 2px 0;
// 				padding-bottom: 2px;
// 				border-bottom: 1px solid #ccc;
// 				margin-bottom: 2px;
// 				
// 				&:last-child{
// 					padding-bottom: 0;
// 					border: none;
// 					margin-bottom: 0;
// 				}
				
				h6{ margin: 0; }
				
				.tbi-results-row-header{
					font-size: 12px; // Mimic the time styles
					line-height: 12px;
					letter-spacing: .1em;
					color: $gray6;
					margin: 0;
					//text-decoration: underline;
				}
				
				.tbi-candidate{
					font-weight: bold;
				}
				
				.tbi-percent{
					text-align: center;
				}
				
			}
			
			.tbi-flex{
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-flex-direction: row;
				flex-direction: row;
				-webkit-align-items: flex-start;
				align-items: flex-start;
		
				.tbi-flex-1{
					-webkit-flex: 1;
					flex: 1;
				}
		
				.tbi-flex-2{
					-webkit-flex: 2;
					flex: 2;
				}
			}
		
		}// .tbi-results
		
	}// #tbi-list
	
	#tbi-footer{
		text-align: right;
	}
		
}// #tbi
