<section id="jump">
	<h3 class="mast">View results (starting at 8 p.m.)</h3>
	<div class="jump-wrap pure-g pure-pad">
		<h4 class="sh6 pure-u-1 pure-u-md-1-3 pure-u-lg-1-6"><a href="#results">National and state races</a></h4>
		<h4 class="sh6 pure-u-1 pure-u-md-1-3 pure-u-lg-1-6"><a href="#state-measures">State measures</a></h4>
		<h4 class="sh6 pure-u-1 pure-u-md-1-3 pure-u-lg-1-6"><a href="#lane-county-measures">Lane County measures</a></h4>
		<h4 class="sh6 pure-u-1 pure-u-md-1-3 pure-u-lg-1-6"><a href="#eugspr">Eugene/Springfield races</a></h4>
		<h4 class="sh6 pure-u-1 pure-u-md-1-3 pure-u-lg-1-6"><a href="#lane-county">Lane County races</a></h4>
		<h4 class="sh6 pure-u-1 pure-u-md-1-3 pure-u-lg-1-6"><a href="#regional-races">Regional races</a></h4>
	</div>
</section>
