<div id="twitter" class="pure-u-1 pure-u-lg-1-3">
	
	<h3 class="mast"><a href="https://twitter.com/registerguard/lists/rg-vote-2016" target="_blank" rel="nofollow">@registerguard/rg-vote-2016</a></h3>
	
	<div class="loading">
		<a
			class="twitter-timeline"
			href="https://twitter.com/registerguard/lists/rg-vote-2016"
			data-widget-id="347149624567558145"
			data-list-owner-screen-name="registerguard"
			data-list-slug="rg-vote-2016"
			data-chrome="noheaders nofooters"
			width="100%"
			height="500px"
			target="_blank"
			rel="nofollow"
		>
			<span class="off">Tweets from @registerguard/rg-vote-2014</span>
		</a>
		
	</div> <!-- /.loading -->
	
</div> <!-- .pure-u-1 -->
